* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
.container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding-top: 4rem;
}

.header h1 {
  font-size: 80px;
  padding: 0;
  margin: 0;
  color: rgb(71, 71, 71);
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  gap: 100px;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
}

.content .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 250px;
}

.content .sketch {
  display: grid;
  width: 500px;
  height: 500px;
  background-color: white;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}
.menu .picker_div {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 100%;
  transition: transform 0.1s ease-in-out;
}

.menu input[type="color"] {
  width: 100%;
  height: 100%;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #0000001a;
  transform: scale(1.5);
  cursor: pointer;
}

.picker_div:hover {
  transform: scale(1.05);
}

.btn {
  font-size: 20px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 5px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  cursor: pointer;
  color: rgb(71, 71, 71);
  transition: transform 0.1s ease-in-out;
}

.selected_btn {
  background-color: rgb(71, 71, 71);
  color: white;
}

.btn:hover {
  transform: scale(1.05);
}

.grid_size {
  font-size: 25px;
  font-weight: 100;
  color: rgb(71, 71, 71);
}

input[type="range"] {
  -webkit-appearance: none;
  background-color: white;
  border-radius: 25px;
  width: 100%;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 15px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 25px;
  background: white;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 27px;
  height: 27px;
  border-radius: 25px;
  margin-top: -8px;
  background-color: rgb(71, 71, 71);
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: rgb(71, 71, 71);
  font-size: 20px;
  margin-bottom: 15px;
}

.footer .fab {
  color: rgb(36, 41, 47);
}
